<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424320333528-de3lsl1sqg407ck8nrk8jmodmhertul2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424320333528-de3lsl1sqg407ck8nrk8jmodmhertul2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>424320333528-4kkfevhkgkcm6c2beufbdq08tf0kssr9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvW-xajcxIsfsKoc96vnvOL1ihSn-3A0E</string>
	<key>GCM_SENDER_ID</key>
	<string>424320333528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neurous.app</string>
	<key>PROJECT_ID</key>
	<string>neurous-d632a</string>
	<key>STORAGE_BUCKET</key>
	<string>neurous-d632a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424320333528:ios:980dd3a741185e3a48c9ad</string>
</dict>
</plist>